.web-title{
    text-align: center;
    font-size: 64px;
}

main{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: 5px solid black;
    padding: 25px;
    box-sizing: border-box;
}

.button-box{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.login-title{
    font-size: 24px;
    font-weight: bold;
}

.credential-box{
    align-items: center;
    font-size: 12px;
}

.auth-button{
    align-self: center;
    width: fit-content;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}